[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

*.svd
*.pdb
*.mdb

.DS_Store
Thumbs.db

Assets/Firebase/Plugins/x86_64/